name: tests

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Install gems
        run: nix develop . --command bundle install

      - name: Run unit tests
        run: nix develop . --command bash -lc "bundle exec rspec"

      - name: Run integration tests
        run: nix develop . --command bash -lc "bundle exec rake spec:integration"
