name: tests

on:
  push:
    branches: ["main"]

  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Cache models
        uses: actions/cache@v4
        with:
          path: tmp/models
          key: ${{ runner.os }}-models-${{ hashFiles('**/Gemfile.lock') }}-variants
          restore-keys: |
            ${{ runner.os }}-models-

      - name: Run unit tests
        run: bundle exec rspec

      - name: Run integration tests
        run: bundle exec rake spec:integration
