name: tests

on:
  push:
    branches: ["main"]

  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true

      - name: Run unit tests
        run: bundle exec rspec

      - name: Run integration tests
        run: bundle exec rake spec:integration
